.blogpost-img-container 
{
    padding: 0px 50px 40 px;
    text-align: center;
}

.blogpost-img-container img
{ 
    width: 95%;
    border-radius: 5px;
}

.blogpost-main-container
{
    padding: 0px 50px 40 px;
    text-align: center;
}


.blogpost-main-container h3
{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    padding-left: 15px;
}

.blogpost-main-container h1
{
    font-size: 35px;
}

.blogpost-main-container p
{
    padding: 0px 20px;
}