.contact-main-container
{
    background-color: #e6e9ed;
    width: 100%;
    text-align: center;
}

.contact-main-container div
{
    display: inline-block;
    width: 49.5%;
    height: 100%;
    padding: 10px 0px;
}

.contact-main-container div a
{
    border-bottom: 1px solid black;
    padding-bottom: 5px;

}

.contact-main-container .contact-left .contact-right
{
    text-align: initial;
}

.contact-main-container img
{
    width: 100px;
}





