.grid-container
{
    max-width: 980px;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');


body
{
margin: 0;
padding: 0;

top: 0;
right: 0;
bottom: 0;
left: 0; 
font-family: 'Roboto Mono', monospace;
}  